<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soundcloud</title>
</head>
<body>
<h1> Homepage </h1>
<h3>All available songs:</h3>
<ul>
    {% for song in songs %}
        <li>{{ song.song_author }} - {{song.song_title}}</li>
        <audio controls="controls">
          <source src="{{ song.song_file.url }}" type="audio/mpeg" />
           <!-- fallback content -->
            Your browser does not support the audio player.
        </audio>
        <p>Likes: {{ song.song_likes }}</p>
        Uploaded by: <a href = '#'>{{ song.user }}</a>
        <p></p>
    {% endfor %}
</ul>

</body>
</html>