
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Home{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation     </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'app_homepage:index' %}">MegaSound</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'app_homepage:index' %}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'app_homepage:topSongs' %}">TOP 5</a></li>
        <li><a href="{% url 'app_homepage:genrePage' %}">Genres</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
              <li><a href="{% url 'app_homepage:register' %}">Register</a></li>
              <li><a href="{% url 'app_homepage:login' %}">Login</a></li>
          {% endif %}
       {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile: {{ user }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'app_homepage:profile' %}">My Profile</a></li>
            <li><a href="{% url 'app_homepage:playlist' %}">My Playlist</a></li>
            <li><a href="{% url 'app_homepage:upload_song' %}">Upload Song</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'app_homepage:logout' %}">Logout</a></li>
          </ul>
        </li>
      {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block base_body %}
{% endblock %}
</body>
</html>