{% extends "base_generic.html" %}
{% block base_body %}
    <script>
    $(document).ready( function (){
    $('#table_id').DataTable({
        "pageLength": 10,
         "order": [[ 2, "desc" ], [3, 'desc']],
{#         "order": [[ 3, "desc" ]]#}
    })
    } );
    </script>


    <h3>Song comments:</h3>
    </ul>
    <table id="table_id" class="display">
    <thead>
        <tr>
            <th>User</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
     {% for comment in comments %}
         <tr>
         <td><a href = "{%  url 'app_homepage:otherProfile' comment.user %}">{{ comment.user }}</a></td>
         <td>{{ comment.comment }} </td>
         <td>{{ comment.creation_date.year }}-{{ comment.creation_date.month }}-{{ comment.creation_date.day }}</td>
         <td>{{ comment.creation_date.hour }}:{{ comment.creation_date.minute }}</td>
     {% endfor %}
    </tbody>
</table>

{% if user.is_authenticated %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add comment</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endif %}

{% endblock %}
