{% extends "base_generic.html" %}
{% block base_body %}

    <script>
    $(document).ready( function (){
    $('#table_id').DataTable({
        "pageLength": 25,
        "order": [[ 4, "desc" ]]
    })
    } );
    </script>

   <div class="container">
    <h1>Homepage</h1>
    </div>

    <h3>All available songs:</h3>
    </ul>
    <table id="table_id" class="display">
    <thead>
        <tr>
            <th>Song</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Likes</th>
            <th>Publish date</th>
            <th>Uploaded by</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
     {% for song, like in songs %}
         <tr>
         <td>
            <a target="_blank" href="{{ song.song_file.url }}">
                <button type="button" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                </button>
            </a>
        </td>
            <td>{{ song.song_author }} - {{song.song_title}}</td>
            <td>{{ song.song_genre }}</td>
            <td>{{ song.likes.all | length}}</td>
            <td>{{ song.pub_date.year }}-{{ song.pub_date.month }}-{{ song.pub_date.day }} | {{ song.pub_date.hour }}:{{ song.pub_date.minute }}</td>
            <td><a href = "{%  url 'app_homepage:otherProfile' song.user %}">{{ song.user }}</a></td>
            <td>
            {% if user.is_authenticated %}
                    <a href = "{% url 'app_homepage:addSong' song.id%}"> Add to Playlist</a>

                    {% if like == 'False' %}
                        <a href = "{% url 'app_homepage:likeSong' song.id%}"> Like</a>
                    {% else %}
                        <a href = "{% url 'app_homepage:dislikeSong' song.id%}"> Dislike</a>
                    {% endif %}
            {% endif %}
                <a href = "{% url 'app_homepage:comments' song.id%}"> Comments</a>
            </td>
         </tr>
     {% endfor %}
    </tbody>
</table>
{% endblock %}
