{% extends "base_generic.html" %}
{% block title %} Edit Song {% endblock %}
{% block base_body %}
    {% for genre, count in genre_list%}
        <ul><a href="{% url 'app_homepage:displayGenre' genre %}">{{ genre }} ({{ count }})</a></ul>
    {% endfor %}
{% endblock %}