{% extends "base_generic.html" %}
{% block title %} My Playlist {% endblock %}
{% block base_body %}

    <script>
        $(document).ready( function (){
        $('#table_id').DataTable({
            "pageLength": 25
        })
        } );
    </script>


    <h3>My playlist:</h3>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Song</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Likes</th>
                <th>Publish date</th>
                <th>Uploaded by</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
         {% for song in playlist %}
            <tr>
             <td>
                <a target="_blank" href="{{ song.song_file.url }}">
                    <button type="button" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                    </button>
                </a>
            </td>
                <td>{{ song.song_author }} - {{song.song_title}}</td>
                <td>{{ song.song_genre }}</td>
                <td>{{ song.song_likes }}</td>
                <td>{{ song.pub_date }}</td>
                <td><a href = "{%  url 'app_homepage:otherProfile' song.user %}">{{ song.user }}</a></td>
                <td><a href = "{%  url 'app_homepage:removeSong' song.id %}">Remove from playlist</a></td>#}
            </tr>
         {% endfor %}
        </tbody>
    </table>
{% endblock %}