{% extends "base_generic.html" %}
{% block title %} Profile {% endblock %}
{% block base_body %}

    <script>
    $(document).ready( function (){
        $('table.display').DataTable();
    } );
    </script>
   <div class="container">
   {% if user_info.username|slugify == user|slugify %}
    <h1>My Profile</h1>
   {% else %}
    <h1>{{ user_info.username }} Profile</h1>
   {% endif %}
    </div>
    <h3>User: {{ user_info.username}}</h3>
    <br>
    <h2>Information about {{ user_info.username }}:</h2>
    <ul>
        {% if user_info.first_name|slugify != '' %}
        <li>First name: {{ user_info.first_name }}</li>
        {% else %}
        <li>First name: This user did not provide this information</li>
        {% endif %}

        {% if user_info.last_name|slugify != '' %}
        <li>Last name: {{ user_info.last_name }}</li>
        {% else %}
        <li>Last name: This user did not provide this information</li>
        {% endif %}

        {% if user_info.email|slugify != '' %}
        <li>Email address: {{ user_info.email }}</li>
        {% else %}
        <li>Email address: This user did not provide this information</li>
        {% endif %}

    </ul>
    {% if user_info.username|slugify == user|slugify %}
        <a href = "{%  url 'app_homepage:editProfile'%}">Edit profile information</a>
    {% endif %}
    <h3> Statistics:</h3>
    <ul>
        <li>Number of songs: {{ uploaded_songs }}</li>
        <li>Number of total likes:  {{ total_likes }}</li>
    </ul>
    {% if songs|length > 0 %}
    <h3>All uploaded songs:</h3>
    <table id="" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Song</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Likes</th>
            <th>Publish date</th>
            <th>Uploaded by</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
     {% for song in songs %}
        <tr>
         <td>
            <a target="_blank" href="{{ song.song_file.url }}">
                <button type="button" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                </button>
            </a>
        </td>
            <td>{{ song.song_author }} - {{song.song_title}}</td>
            <td>{{ song.song_genre }}</td>
            <td>{{ song.likes.all | length }}</td>
            <td>{{ song.pub_date }}</td>
            <td>{{ song.user }}</td>
            {% if song.user|stringformat:"s" == request.user.username or request.user.username == 'admin' %}
                <td><a href = "{%  url 'app_homepage:editSong' song_id=song.id%}">Edit</a></td>
                <td><a href = "{%  url 'app_homepage:delete_song' song.id %}" onclick="return confirm('Are you sure you want to delete this?')">Delete</a></td>
            {% endif %}
        </tr>
     {% endfor %}
    </tbody>
</table>
    {% else %}
    <h3>User did not upload any song</h3>
    {% endif %}
{% if playlist|length > 0 %}
    <h3>My Playlist:</h3>
        <table id="" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Song</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Likes</th>
            <th>Publish date</th>
            <th>Uploaded by</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
     {% for song in playlist %}
        <tr>
         <td>
            <a target="_blank" href="{{ song.song_file.url }}">
                <button type="button" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                </button>
            </a>
        </td>
            <td>{{ song.song_author }} - {{song.song_title}}</td>
            <td>{{ song.song_genre }}</td>
            <td>{{ song.likes.all | length}}</td>
            <td>{{ song.pub_date }}</td>
            <td>{{ song.user }}</td>
            {% if song.user|stringformat:"s" == request.user.username or request.user.username == 'admin' %}
            <td><a href = "{%  url 'app_homepage:delete_song' song.id %}">Delete</a></td>
            {% endif %}
        </tr>
     {% endfor %}
    </tbody>
</table>
    {% elif  playlist|length == 0 and playlist != -1%}
        <h2>There are no songs in the playlist</h2>
    {% elif playlist == -1 %}
    {% endif %}
{% endblock %}